.meme-grid-search {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3rem;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem 1rem;
  justify-content: center;
}

.meme-card {
  width: 100%;
  aspect-ratio: 1 / 1; /* Forces square shape */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content doesn't affect height */
  align-items: center;
  border-radius: 10px;
  background-color: white; /* Ensures consistent card color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.meme-card-search {
  max-width: 15vw;
}

@media (max-width: 1057px) {
  .meme-grid-search {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 576px) {
  .meme-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .meme-grid-search {
    gap: 3rem;
  }
}
